:root{
  --primary-color: #4f5c7f4a;
  --secondary-color: #5b5b5b;
  --white: #ded836;
  --highlight-color: #2616cd;
  --transition-color: #d13434;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: var(--primary-color);
  font-weight: 400; 
  font-size: 18px; 
  line-height: 1.4; 
  margin-top: 100px;
}

h1 {
  font-weight: 700;
  font-size: 30px;
}

.pokedex {
  text-align: center;
  margin-top: 90px; 
  display: flex;
  flex-direction: column;
}

.container {
  text-align: center;
  align-items: center;
}

.pokemon-header {
  padding: 10px;
  font-weight: 700;
}

.pokemon-button {
  width: 40%;
  background-color: var(--highlight-color);
  /* removes bootstrap button border color */
  border: none;
}

.list-group-item {
  border: none;
  background-color: var(--primary-color);
}

.pokemon-button:hover {
  background-color: var(--transition-color);
  transition-duration: 1s;
}

.btn-outline-info {
  color: var(--transition-color);
  border-color: var(--white);
}

.btn-outline-info:hover {
  background-color: var(--transition-color);
  transition-duration: 0s;
  border-color: var(--transition-color);
}

.input-group-btn {
  background-color: none;
}

.modal {
  text-align: center;
}

.pokemon-img {
  width: 200px;
  height: 200px;
}

.modal-dialog {
  border: 10px solid;
  border-radius: 15px;
  border-color: var(--highlight-color);
  
}
